.posts {

    .post-type-video {

        .box-content {
            padding: 0;

            .message {
                padding: 1rem;
            }

            iframe {
                width: 100%;
                height: var(--script-media-full-height, ~"calc( ( var(--script-width-content) ) / 16 * 9 )");
            }
        }

        // .box-comments dl {

        //     dt:first-of-type {
        //         display: none;
        //     }

        //     dd:first-of-type {
        //         display: none;
        //     }
        // }
    }
}